{% extends "shop/base.html" %}
{% block title %}Результаты поиска{% endblock %}

{% block content %}
  <h1>Поиск по запросу "{{ query }}"</h1>
  {% for product in results %}
    <div class="item">
    <!-- Ссылка на товар с картинкой -->
    <a href="{{ product.get_absolute_url }}">
      <img src="{% if product.image %}{{ product.image.url }}{% else %}/static/img/no_image.png{% endif %}" 
           alt="{{ product.name }}" 
           style="width: 100px; height: auto;"> <!-- Стили можно вынести в CSS -->
    </a>
    
    <div class="info">
      <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
      <p>${{ product.price }}</p>
    </div>
  </div>
  {% empty %}
    <p>Товары не найдены.</p>
  {% endfor %}
{% endblock %}