{% extends "shop/base.html" %}

{% block title %}Мои заказы{% endblock %}

{% block content %}
  <h1>История моих заказов</h1>
  <div class="order-list">
    {% if orders %}
      <table>
        <thead>
          <tr>
            <th>Заказ №</th>
            <th>Дата</th>
            <th>Статус</th>
            <th>Сумма</th>
          </tr>
        </thead>
        <tbody>
          {% for order in orders %}
            <tr>
              <td>{{ order.id }}</td>
              <td>{{ order.created|date:"d.m.Y H:i" }}</td>
              <td>{% if order.paid %}Оплачен{% else %}Ожидает оплаты{% endif %}</td>
              <td>{{ order.get_total_cost }} ₽</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>У вас пока нет оформленных заказов. <a href="{% url 'shop:product_list' %}">Начать покупки</a></p>
    {% endif %}
  </div>
{% endblock %}
