{% extends "shop/base.html" %}

{% block title %}О нас{% endblock %}

{% block content %}
    <h1>О нашей студии</h1>
<p style="text-align: right; font-style: italic;">Дело
художника рождать радость… (К. Паустовский)
<div style="text-align: center; max-width: 800px; margin: 0 auto;">
    <p>
        Эти слова взяты за основу в творчестве художника из провинциального городка Михайловска на Ставрополье.<br>
        Соответственно природе своего художественного дара, Сергей работает в реалистической живописи.<br>
        Волшебный мир пейзажа и натюрморта проводит четкую линию во всем творчестве художника.<br>
        В своих работах автор старается показать простоту и величие природы, богатство красок. 
        Живопись Сергея находит своих поклонников во многих странах мира — в США, Германии, Израиле, Польше, Греции, Украине, Белоруссии.<br>
        Увидев работы Сергея на его сайте, Вы не останетесь равнодушными, ибо будете иметь возможность сами дотронуться к тем таинственным струнам души, которые звучали в сердце Сергея во время создания его шедевров.<br>
        На страницах сайта представлена часть образцов работ Сергея за последние несколько лет.<br>
        Автор пишет портреты с фотографии по заказу в двух техниках исполнения: масляными красками на холсте и сухой кистью на бумаге. 
        К своей работе художник подходит основательно и кропотливо.<br>
        На первом плане — сходство в портрете, правильно построенная композиция и техника исполнения. 
        Дружеские шаржи для Сергея один из самых любимых жанров. За последние годы он создал множество ярких, веселых и запоминающихся нарисованных историй.<br>
        Все они дарят тепло и улыбки своим обладателям. А автор чувствует себя волшебником, который помогает сказочным снам и пожеланиям обретать реальные очертания на рисунке.
    </p>
    <p><strong>Мы — команда художников, которые верят, что искусство доступно каждому.</strong></p>
</div>


{% endblock %}
