{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}Главная{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
  </head>
  <body>


<div class="top-banner">
    <img src="{% static 'img/bk.jpg' %}" alt="Banner">
    <div class="banner-text">Художественная студия<br><br>АКВАРЕЛЬ</div>
</div>



   
    <div id="header">
  <a href="/" class="logo">Главная</a>
  <a href="{% url 'shop:services' %}" class="logo">Услуги</a>
  <a href="{% url 'shop:contacts' %}" class="logo">Контакты</a>
  <a href="{% url 'shop:about' %}" class="logo">О нас</a>
  <div class="user">
    {% if request.user.is_authenticated %}
        <!-- Применяем класс logo к приветствию и кнопкам -->
        <span class="logo">Привет, {{ request.user.username }}!</span>
        <a href="{% url 'orders:user_orders' %}" class="logo">Мои заказы</a>
        
        <form method="post" action="{% url 'logout' %}" style="display:inline;">
            {% csrf_token %}
            <!-- Кнопку стилизуем через тот же класс -->
            <button type="submit" class="logo">Выйти</button>

        </form>
    {% else %}
        <a href="{% url 'login' %}" class="logo">Войти</a>
        <a href="{% url 'register' %}" class="logo">Регистрация</a>
    {% endif %}
  </div>
</div>
    </div>




    <div id="subheader">
      <div class="cart">
        
        {% with total_items=cart|length %}
          {% if total_items > 0 %}
            Ваша карзина:
            <a href="{% url "cart:cart_detail" %}">
              {{ total_items }} товаров на сумму = 
              {{ cart.get_total_price }} ₽
            </a>
          {% elif not order %}
            Ваша карзина пуста.
          {% endif %}
        {% endwith %}
      </div>
      <form action="{% url 'shop:product_search' %}" method="get" class="search-form">
        <input type="text" name="query" placeholder="Найти товары...">
        <button type="submit">Поиск</button>
    </form> 
    </div>
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
    <footer id="footer">
        <div class="footer-content">
            <p>&copy; 2026 Художественная студия. Все права почти защищены.</p>
            <ul class="footer-links">
        <a href="{% url 'shop:services' %}">Услуги</a>  
        <a href="{% url 'shop:about' %}">О нас</a>  <!-- Новая ссылка -->
        <a href="{% url 'shop:contacts' %}">Контакты</a>
            </ul>
        </div>
    </footer>
  </body>
</html>

