{% extends "shop/base.html" %}

{% block title %}Контакты{% endblock %}

{% block content %}
    <h1>Наши контакты</h1>
    <div style="max-width: 800px; margin: 0 auto; text-align: justify; font-family: sans-serif; line-height: 1.6;">
<p>
    Контактный тел.: +7-961-499-08-86, +7-905-493-67-70
    <br>
    Email: serg.osinnik@yandex.ru</p>
    <p>Есть ссылки на социальные сети:
</p>
<ul>
  <li><a href="https://vk.com" target="_blank" rel="noopener">ВКонтакте</a></li>
  <li><a href="https://t.me" target="_blank" rel="noopener">Telegram</a></li>
  <li><a href="https://ok.ru" target="_blank" rel="noopener">Одноклассники</a></li>
</ul>
</div>
{% endblock %}
