{% extends "shop/base.html" %}

{% block title %}Заказать услугу{% endblock %}

{% block content %}
  <h1>Заказать услугу</h1>
  
  <div class="login-form">
    {% if success %}
        <p style="color: green; text-align: center;">Спасибо! Ваше пожелание отправлено, мы свяжемся с вами.</p>
    {% else %}
        <form method="post" action="{% url 'shop:services' %}">
          {% csrf_token %}
          {{ form.as_p }}
          <p><input type="submit" value="Отправить запрос"></p>
        </form>
    {% endif %}
  </div>
{% endblock %}
