{% extends "shop/base.html" %}

{% block title %}Заказать услугу{% endblock %}

{% block content %}




  <h1>Заказать услугу</h1>
  <div style="text-align: center;"></div>
  
<div style="max-width: 800px; margin: 0 auto; text-align: justify; font-family: sans-serif; line-height: 1.6;">
    
    <p style="text-align: center;"><strong>КАРТИНЫ</strong></p>
    <p>Если вас заинтересовала работа, представленная в ГАЛЕРЕЕ на сайте — вы можете заказать картину по индивидуальным размерам, связавшись с автором по указанным контактам на сайте. Если вас интересует сюжет, которого нет в каталоге — присылайте фотоматериалы на E-mail: <a href="mailto:serg.osinnik@yandex.ru">serg.osinnik@yandex.ru</a>. Работы, представленные в МАГАЗИНЕ, — вы можете приобрести сразу, добавив в КОРЗИНУ.</p>
    <p>В последнее время большой популярностью пользуются сюжетные картины с детьми, девушками или животными на фоне природы. Подобными полотнами, оформленными в красивые рамы можно украсить комнаты в ваших квартирах или офисные кабинеты ваших деловых центров. Стоимость картины (масло, холст) в жанрах пейзаж и натюрморт зависит от степени насыщенности, техники, размера. Доставка заказа осуществляется по всей России Почтой России или Транспортной Компанией. Возможен самовывоз.</p>

    <p style="text-align: center;"><strong>ПОРТРЕТЫ</strong></p>
    <p>Если вы ознакомились с портретами и вас устраивает техника исполнения художника, — есть возможность заказать портрет по фотографии. Подготовленные вами фотоматериалы, с которых должен быть написан портрет — вы можете прислать на контактный E-mail для предварительного просмотра. Цена портрета зависит от техники, его размера, сложности элементов портрета и фона, а также используемых материалов (масло, холст, бумага).</p>
    <p>Стоимость портрета на бумаге (сухая кисть):<br>
    — в черно-белом варианте за одно лицо: 3000 руб.<br>
    — в цветном: 3500 руб.<br>
    Стандартный размер листа — 60*42 см. Стоимость портрета на холсте маслом составляет 10000 руб. за одно лицо.</p>

    <p style="text-align: center;"><strong>ДРУЖЕСКИЕ ШАРЖИ</strong></p>
    <p>Без приятных сюрпризов с юмором — мир был бы серым, а душа человека мрачная. При заказе дружеского шаржа возможен вариант любого сюжета по вашему усмотрению. Присылая фотоматериалы, вы подробно описываете, в каком образе необходимо изобразить человека. Фото должно быть хорошего качества. Отличный и оригинальный подарок к любому торжеству и празднику. Стоимость одного лица — 1000 р. Организациям при оптовом заказе предусмотрены скидки.</p>

    <p style="text-align: center;"><strong>Если есть вопросы, заполните форму ниже, мы с Вами свяжемся!</strong></p>
</div>

  <div class="login-form">
    {% if success %}
        <p style="color: #5993bb; text-align: center;">Спасибо! Ваше пожелание отправлено, мы свяжемся с вами.</p>
    {% else %}
        <form method="post" action="{% url 'shop:services' %}">
          {% csrf_token %}
          {{ form.as_p }}
          <p><input type="submit" value="Отправить запрос"></p>
        </form>
    {% endif %}
  </div>
{% endblock %}






